.parser {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 140px;
}

.menu {
  text-align: center;
}

.status {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  /* top: 50px; */
  /* bottom: 30px; */
  /* border: 1px solid black; */
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}
