.rollList {
  position: absolute;
  padding: 0px;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  top: 50px;
  bottom: 30px;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: unset;
}

.detectedPhrase {
  background-color: #c1e7f7;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
